* {
    padding: 0;
    margin: 0;
}


body {
background: grey;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav{
    background-color: white;
}

.logo {
    display: flex;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 30px 125px;

    }

li:hover {
    background-color: green;
    cursor:auto;
}

ul li a {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}

.Buzo2{
    width: 800px;
    height: 800px;
    background: red;
    max-width: 500px;
    overflow: visible;
   }

   * { box-sizing: border-box;
}
body {

    margin: 0;
}

Img {

display: block;
width: 100%;

}

.main-header__container {
padding: 0 20px;


}
.mainheader__title {
text align: center;
font size: 2.5em;
margin: 10 px 0;
}


.main-nav {
display: none;
}

.main-header__container{
display: flex;
justify-content: space-between; 
align-items:center;

}

.icon-menu {
font size: 1.5em;
border: 1px solid #454546;
display: block;
padding: 10px 15px;
cursor: pointer;

}

.main { padding: 20px}

.main-header__btn{
display: block;
padding: 10 px 25px;
color: 1px solid #454546;
}
 .main-header__input{
display: block;
padding:10 px;
}

.container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
  }


  .product__img{
    width: 100%;
    height: 120px;
    object-fit: cover;
  }

  .product__title{
    text-align: center;
  }
  .product__price {
    color: #006dcc;
    font-weight: bold;
  }
  .product__icon {
    display: block;
    margin-top: 10px;
  }

  .container-editor{
    margin-top: 20px;
  }
  
  .editor1{
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  .editor__img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .editor__circle{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -200px;
    right: -150px;
    color: white;
    padding: 20px;
    padding-bottom: 70px;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;
  }
  .editor1:hover .editor__circle{
    transform: scale(1.2);
    bottom: -90px;
    right: -50px;
  }
  .editor1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    opacity: 0;
    transition: all 0.5s;
  }
  .editor1:hover:before {
    opacity: 1;
  }
  .container-tips{
    margin: 20px 0;
    text-align: center;}


    .container__INTRODUCCION{
        font-size: 1.3em; 
      }
      .container-editor{
        display: flex;
        justify-content: space-between;
      }
      .editor1{
        width: 48%;}

        .NOSOTROSTITULO{
            text-align: center;
            background: grey;
            padding: 20px;
            margin: 20px 0;
          }
          .nosotros2{
            color: black;
          }

          .footer1{
            border-bottom: 1px dotted blue;
            padding-bottom: 20px;
          }


          .footer{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
          }

          .footer1{
            border-bottom: 1px dotted blue;
            padding-bottom: 20px;
          }

          .copy1 {
            grid-column-start: span 4;
            text-align: center;
          }

          .main-footer{
            background: #151515;
            color: white;
            padding: 30px 20px;
          }
        
          @media screen and (min-width:768px) (max-width: 1024px) and (orientation: landscape) {
        
            .editor1{
              height: 200px;
            }
            .container-tips{
              margin: 40px 0;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
            }
          }

          @media screen and (min-width:1024px) { 
        .main-header__container{
              width: 1000px;
              margin: auto;
            }
            .icon-menu {
              display: none;
            }
            .main-header .container--flex{
              display: flex;
              align-items: center;
            }
            .main-header__container{
              flex-wrap: wrap;
              align-content: flex-start;
            }
            .main-header__txt{
              width: 100%;
            }
            .main-header__container:nth-child(2){
              order: -1;
              width: 25%;
            }
            .main-header__container:nth-child(3){
              width: 25%;
              padding: 0 20px;
            }
            .main-header__title {
              width: 100%;
              font-size: 4em;
              margin: 0;
              border-bottom: 1px solid #ccc;
            }
            .main-header__link {
              margin-bottom: 20px;
            }
            .main-header__btn{
              width: 130px;
              padding: 10px;
              margin-bottom: 20px;
            }
            .main-header__input{
              width: 85%;
            }
            .logo{
              visibility: visible;
              opacity: 1;
              width: 50%;
              margin-top: 20px;
            }
            .menu {
              position: static;
              width: 100%;
              display: flex;
              background: none;
            }
            .menu__link{
              color: #333;
            }
            .menu__link:hover{
              background: #333;
              color: white;
            }
            .container-products {
              grid-template-columns: repeat(4, 1fr);
              grid-gap: 15px;
            }
            .product__img {
              height: 150px;
            }
            .container__testimonials{
              font-size: 1.3em; 
            }
            .container-editor{
              display: flex;
              justify-content: space-between;
            }
            .editor__item{
              width: 48%;
            }
            .main-footer {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-gap: 20px;
            }
            .copy {
              grid-column-start: span 4;
              text-align: center;
            }


              .imagenlogo { height: 50px}

              .logo {
                display: flex;
                height: 300px;
                width: 1000px;
               margin: auto
                
            }


          }

          @media screen and (min-width:1280px) { 
            .nav{
              width: 1200px;
           }

           .imagenlogo { width:20px
     }



           .logo {
            display: flex;
            height: 80px;
            width: 1600px;
           margin: auto
            
        }

        
        }
          