body {
background: grey

}

nav{
    background-color: black;
}

.logo {
    display: flex;
}

.navbar{
    display: flex;
}


ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 10px 80px;
    }

li:hover {
    background-color: green;
    cursor:auto;
}

ul li a {
    text-decoration: none;
    color:bisque
}
